/* CSS buttons from https://getcssscan.com/css-buttons-examples !*/
:root
{
    --size-bezel: .5rem;
    --size-radius: 4px;
    padding: 0 calc(var(--size-bezel) * 3);
    font-family: "JetBrains Mono", monospace;
}

h3 {
    display: inline;
}

.button-29 {
    align-items: center;
    appearance: none;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.red {
    background-image: radial-gradient(100% 100% at 100% 0, #ff5a5a 0, #ff5495 100%);
}

.red:focus {
    box-shadow: #e03c3c 0 0 0 1.5px inset, rgba(66, 35, 35, 0.4) 0 2px 4px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
}

.red:hover {
    box-shadow: rgba(66, 35, 35, 0.4) 0 4px 8px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
    transform: translateY(-2px);
}

.red:active {
    box-shadow: #e03c3c 0 3px 7px inset;
    transform: translateY(2px);
}

.blue {
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

.blue:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.blue:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.blue:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.green {
    background-image: radial-gradient(100% 100% at 100% 0, #b8ff5a 0, #5ed646 100%);
}

.green:focus {
    box-shadow: #3ce057 0 0 0 1.5px inset, rgba(35, 66, 47, 0.4) 0 2px 4px, rgba(35, 66, 38, 0.3) 0 7px 13px -3px, #3ce057 0 -3px 0 inset;
}

.green:hover {
    box-shadow: rgba(35, 66, 39, 0.4) 0 4px 8px,rgba(35, 66, 40, 0.3) 0 7px 13px -3px, #3ce044 0 -3px 0 inset;
    transform: translateY(-2px);
}

.green:active {
    box-shadow: #3ce04a 0 3px 7px inset;
    transform: translateY(2px);
}

.gold {
    background-image: radial-gradient(100% 100% at 100% 0, #ff9d1e 0, #ffd727 100%);
}

.gold:focus {
    box-shadow: #ffd900 0 0 0 1.5px inset, rgba(66, 63, 35, 0.4) 0 2px 4px, rgba(66, 66, 35, 0.3) 0 7px 13px -3px, #978100 0 -3px 0 inset;
}

.gold:hover {
    box-shadow: rgba(66, 64, 35, 0.4) 0 4px 8px,rgba(66, 63, 35, 0.3) 0 7px 13px -3px, #e0ac3c 0 -3px 0 inset;
    transform: translateY(-2px);
}

.gold:active {
    box-shadow: #e0c73c 0 3px 7px inset;
    transform: translateY(2px);
}